*.rpt
*.done
*.smsg
*.jdi
*.pin
*.sof
*.summary
*.xml
*.bak
*.temp
sw/mifgen/mifgen.ncb
sw/mifgen/mifgen.suo
sw/mifgen/mifgen.vcproj.CW01.uid95558.user
sw/mifgen/Debug/BuildLog.htm
sw/mifgen/Debug/mifgen.exe
sw/mifgen/Debug/mifgen.exe.embed.manifest
sw/mifgen/Debug/mifgen.exe.embed.manifest.res
sw/mifgen/Debug/mifgen.exe.intermediate.manifest
sw/mifgen/Debug/mifgen.ilk
sw/mifgen/Debug/mifgen.obj
sw/mifgen/Debug/mifgen.pdb
sw/mifgen/Debug/mt.dep
sw/mifgen/Debug/vc80.idb
sw/mifgen/Debug/vc80.pdb
quartus/db/
quartus/incremental_db/
quartus/greybox_tmp/cbx_args.txt
quartus/PLLJ_PLLSPE_INFO.txt
doc/~$calculations.xlsx
sw/delaytest/Debug/
quartus/simulation/
