*.rpt
*.done
*.smsg
*.jdi
*.pin
*.sof
*.summary
*.xml
*.bak
*.temp
quartus/db/
quartus/incremental_db/
quartus/greybox_tmp/
quartus/simulation/
~$*
quartus/software/test1/obj/
quartus/software/test1_bsp/obj/
sw/.metadata/.plugins/
quartus/software/test1/test1.elf
quartus/software/test1/test1.map
quartus/software/test1/test1.objdump
sw/.metadata/.log
*.a
