/db
/incremental_db
/output_files
/simulation
*.rpt
*.done
*.smsg
*.jdi
*.pin
*.sof
*.summary
*.xml
*.bak
*.temp
rotaryencoder.cdf
rotaryencoder_assignment_defaults.qdf
stp2_auto_stripped.stp
