/db
/incremental_db
/output_files
/simulation
*.rpt
*.done
*.smsg
*.jdi
*.pin
*.sof
*.summary
*.xml
*.bak
*.temp
sw/mifgen/mifgen.ncb
sw/mifgen/mifgen.suo
sw/mifgen/mifgen.vcproj.CW01.uid95558.user
sw/mifgen/Debug/BuildLog.htm
sw/mifgen/Debug/mifgen.exe
sw/mifgen/Debug/mifgen.exe.embed.manifest
sw/mifgen/Debug/mifgen.exe.embed.manifest.res
sw/mifgen/Debug/mifgen.exe.intermediate.manifest
sw/mifgen/Debug/mifgen.ilk
sw/mifgen/Debug/mifgen.obj
sw/mifgen/Debug/mifgen.pdb
sw/mifgen/Debug/mt.dep
sw/mifgen/Debug/vc80.idb
sw/mifgen/Debug/vc80.pdb
quartus/db/
quartus/incremental_db/
quartus/greybox_tmp/cbx_args.txt
quartus/PLLJ_PLLSPE_INFO.txt
doc/~$calculations.xlsx
*.htm
hw/nios_300/synthesis/
*.html
*.cmp
sw/.metadata/
sw/t2_bsp/
sw/t2/.cproject
sw/t2/.project
sw/t2/Makefile
sw/t2/create-this-app
sw/t2/readme.txt
sw/t2/obj/
sw/t2/t2.elf
sw/t2/t2.map
sw/t2/t2.objdump
hw/nios_300.sopcinfo
quartus/nios_300.sopcinfo
demo_batch/t2.bin
