/db
/incremental_db
/output_files
/simulation
*.rpt
*.done
*.smsg
*.jdi
*.pin
*.sof
*.summary
*.xml
*.bak
*.temp
quartus/db/
quartus/incremental_db/
quartus/greybox_tmp/cbx_args.txt
quartus/PLLJ_PLLSPE_INFO.txt
doc/~$calculations.xlsx
quartus/simulation/
hw/greybox_tmp/
sw/dualramtest_bsp/
sw/.metadata/
hw/sopc/synthesis/
*.objdump
*.elf
*.o
