
db/

incremental_db/compiled_partitions/

*.summary

*.rpt

*.sof

*.done

*.smsg

nios_sys/synthesis/
workspace
*.o
*.d
software/t2_bsp/
software/t2/obj/
nios_sys/testbench/
nios_sys/simulation/
